@media only screen and (min-width: 481px) {
    .home-grid{
        grid-template-columns: 1fr 1fr;
    }
    .logo {
        width: 100%;
        height: auto;
        max-width: 100px;
    }
    nav ul { 
        display: flex;
        justify-content: space-around;
    }
}