body{
    background-color: #0077B6;
    font-size: .9em;
    padding: 1em;
    max-width: 900px;
    margin: auto;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}
.content{
    background-color: #FFFFFF;
    border-radius: 5px;
}
nav {
	background-color: #03045E;
	text-align: center;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
    display: block;
    margin: auto;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
a{
    text-decoration: none;
    display: inline;
    color: #ffffff;
    text-align: center;
}
nav a {
    color: #ffffff;
}
a:hover {
    background-color: #0077B6;
    font-weight: bold;
}
a:active {
    background-color: #90E0EF;
}
a:visited {
    color: #91C3C3;
}
.links{
      display: inline;
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      letter-spacing:2px;
      color:#ffffff;
      text-align: center;
}
p{
    line-height: 25px;
    margin-left: 30px;
}
h1{
    font-family: 'Bodoni Moda', serif;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    background-color: #023E8A;
    padding: 20px;
    border-radius: 5px;
}
h2{
    margin-top:40px;
    margin-left:30px;
    font-family: 'Bodoni Moda', serif;
}
header,
footer {
    max-width: 900px;
    padding: 20px;
    background-color: #023E8A;
    text-align: center;
    border-radius: 5px;
}
footer{
    margin-top:40px;
    color:#ffffff;
}
figcaption{
    text-align:left;
}
img {
    width: 100%;
    height: auto;
}
section{
    background-color: #F2F2F2;
    border-radius: 5px;
}
nav ul { 
    display: grid;
    /*grid-template-columns: repeat(5, 1fr);*/
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
}
