body{
    background-color: #FFFFFF;
    font-size: 1.1em;
    padding: 1em;
    max-width: 760px;
    margin: auto;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
li {
    text-align: left;
    text-decoration: none;
    margin: 20px;
    font-family: "Montserrat", sans-serif;
}
a {
    text-decoration: none;
}
h1{
    margin-left: 20px;
    background-color: #F2F2F2;
    padding: 20px;  
    border: 2px solid #F2F2F2;
    border-radius: 5px;
}
header,
footer {
    max-width: 760px;
    padding: 1em;
    background-color: #F2F2F2;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 5px;
}
a {
    color: #ADB5BD;
}
img{
    float: right;
    box-shadow: 2px 2px 4px #000000;
    margin: 1em 1em;
}
a:hover {
    color: #495057;
    font-weight: bold;
  }
  a:active {
    color: #343A40;
  }
  a:visited {
    color: #343A40;
  }
 
 
 
