body{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top:20px;
    justify-content: center;
    width: 400px;
}
h2{
    text-align: center;
}
img{
    margin-top: auto;
    justify-items: center;
    filter: blur(0px);
}
img[data-src]{
    filter: blur(3px);
}