body{
    background-color: #FFFFFF;
    font-size: 1.3em;
    padding: 1em;
    max-width: 760px;
    margin: auto;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}
a {
    text-decoration: none;
}
.title,
footer {
    max-width: 760px;
    padding: 1em;
    background-color: #F2F2F2;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 5px;
}
.title{
    padding: 1em;
    align-items: center;
}
a{
    margin-left:40px;
}
nav a {
    color: #6C8DC8;
}
a:hover {
    color: #6C8DC8;
    font-weight: bold;
}
a:active {
    color: #85B1DB;
}
a:visited {
    color: #91C3C3;
}
.links{
      display: inline;
      text-decoration: none;
      margin: 20px;
      font-family: "Montserrat", sans-serif;
      letter-spacing:2px;
      color:#A7A7A7;
      text-align: center;
}
img {
    width: 100%;
    height: auto;
}
h2{
    margin-left: 40px;
}
p{
    max-width: 700px;
    margin-left: 40px;
    line-height:36px;
}
 
