@media only screen and (min-width: 581px) {
    .logo-img{
        max-width: 100px;
        max-height: 100px;
    }
    h1{
        font-size: 60px;
    }
    .navigation li:first-child {
        display:none;
    }
    .navigation li {
        display: flex;
        flex-direction: row;
    }
    .navigation{
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        align-self: center;
        list-style-type: none; 
        text-decoration: none;
        font-size: 20px;
        color: #1D3557;
        border-top: none;
    }
    nav {
        padding:15px;
        width: auto;
    }
    nav ul li a{
        border-top: none;
    }
}
    