body{
    background-color: #FFFFFF;
    font-size: .9em;
    padding: 1em;
    max-width: 900px;
    margin: auto;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}
p{
    line-height: 25px;
}
a {
    text-decoration: none;
}
h2,
a{
    text-align: center;
}
.title,
footer {
    max-width: 900px;
    padding: 1em;
    background-color: #F2F2F2;
    text-align: center;
    border: 2px solid #F2F2F2;
    border-radius: 5px;
}
.footer{
    margin-top:40px;
}
.title{
    padding: 1em;
    align-items: center;
}
.heading-1{
    margin-top:30px;
}
a{
    margin-left:40px;
}
nav a {
    color: #2E294E;
}
a:hover {
    color: #6C8DC8;
    font-weight: bold;
}
a:active {
    color: #85B1DB;
}
a:visited {
    color: #91C3C3;
}
.links{
      display: inline;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      letter-spacing:2px;
      color:#A7A7A7;
      text-align: center;
}
figcaption{
    text-align:left;
}
img {
    width: 100%;
    height: auto;
}
section{
    background-color: #F2F2F2;
    border-radius: 5px;
}

