body{
    background-color: #eee;
}
table{
    font-family: ubuntu, sans-serif;
    border: grey;
    margin:auto;
    box-shadow: 5px 10px 8px #628ca6;
    margin-top: 50px;
    background-color: #ffffff;
    max-width: 100%
}
table thead th{
    font-size: 35px;
    padding: 20px;
}
table tbody th{
    color: #ffffff;
    background-color: #628ca6;
    font-size: 20px;
    padding:15px;
}
table tbody td{
    font-size: 15px;
    text-align: center;
}
table thead,
table tfoot{
    background-color: #7fb9c2;
}
table tbody td{
    padding:15px;
    border: grey;
}
table tfoot td{
    padding:11px;
    text-align: center;
}
table tbody tr:nth-child(even){
    background-color: #e7f0ed;
}
table tbody tr:nth-child(odd){
    background-color: #e7ffed;
}
#event{
    font-style: italic;
}
tbody tr:nth-child(5)
td:nth-child(3){
    background-color: #628ca6;
    color: #ffffff;
}