body{
    background-color: #f1faee;
    font-size: .9em;
    max-width: 100%;
    margin: 0px auto;
    font-family: 'Mukta', sans-serif;
}
.container{
    background-color: #ffffff;
    max-width:100%;
    display: flex;
}
.main-header{
    display: flex;
    justify-content: flex-start;
    align-self: center;
    width: 100%;
}
.logo-img{
    max-width: 50px;
    max-height: 50px;
    max-width:100%;
    align-self: center;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 25%;
}
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: #1D3557;
    width: auto;
    max-width: 25%;
}
.navigation{
    margin-top: 10px;
}
.navigation li:first-child {
    color: #1D3557;
    display:block;
    font-size:50px;
    margin-bottom: 3px;
}
.navigation li:first-child a {
    text-decoration: none;
    border-top: none;
    display: flex;
    justify-content: flex-end;
}
.responsive li{
    display: flex;
}
nav ul { 
    display: flex;
    justify-content: flex-end;
    align-items:center;
    flex-direction: column;
	list-style-type: none;
	margin: 10px;
	padding: 0;
    overflow: hidden;
}
nav ul li a {
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
    margin: auto;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 20px;
    padding: .8rem 2%;
    border-top: 1px solid rgba(150, 155, 202, 0.349);
}
li{
    display:none;
}
li a{
    color: #1D3557;
    padding:10px;
    text-decoration: none;
    display:flex;
    justify-content: flex-end;
    justify-content: space-evenly;
    align-content: center;
}
li a:hover{
    color:#e63946;
    font-weight:bold;
}
.current{
    font-weight: bold;
}
.social{
    padding: 10px;
    display:flex;
    justify-content: flex-end;
    align-content: center;
}
.social a{
    padding:10px;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: #1D3557;
    padding: 30px;
    color: #ffffff;
    font-size: 18px;
    line-height: 25px;
}
footer a{
    color:#ffffff;
}
footer a:hover{
    font-weight: bold;
}
h2{
    font-family: 'Bebas Neue', cursive;
    color: #e63946;
    font-size: 30px;
    margin-left:30px;
    margin-top: 50px;
    margin-bottom: 0px;
}
h3{
    font-family: 'Bebas Neue', cursive;
    color: #457b9d;
    font-size: 25px;
    margin-left: 10px;
}
.weather-summary{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #457b9d;
    padding-top: 5px;
    padding-bottom: 5px;
}
.weather-summary h3{
    color:#ffffff;
}
.weather-summary p{
    line-height: 15px;
    padding-top: 0px;
    margin-left: 30px;
    color: #ffffff;
}
.section-1{
    display:flex;
    flex-direction: column;
    width: auto;
}
.section-1 img{
    width:95%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.section-1 h2{
    margin-left: 10px;
}
.section-1 a{
    text-decoration: none;
    color: #457b9d;
}
section div{
    background-color: #ffffff;
    margin:30px;
    box-shadow: 5px 5px #a8dadc;
    border: 1px solid #a8dadc;
}
p{
    color: #1D3557;
    font-size: 18px;
    line-height: 25px;
    margin: 10px;
}
p.contact{
    margin-left: 10px;
}
dl{
    font-size: 18px;
}
dt{
    color: #457b9d;
    margin-left: 10px;
    font-weight: bold;
    line-height: 25px;
}
dd{
    color: #1D3557; 
    line-height: 25px;
}
section.forecast{
    background-color: #ffffff;
}
section#forecast div{
    display:flex;
    justify-content: space-between;
}
section#forecast div h3{
    margin-left: 20px;
}
section#forecast div p{
    margin-top: 30px;
}
section#forecast div img{
    margin-right: 20px;
}
section#forecast div:nth-child(2){
    padding-bottom: 0px;
}
.description a{
    color: #457b9d;
}
#join section{
    background-color: #ffffff;
    margin:30px;
    box-shadow: 5px 5px #a8dadc;
    border: 1px solid #a8dadc;
}
#join h2{
    margin-left: 10px;
}
#join div{
    display:flex;
    flex-direction: column;
}
.section-join-form{
    display: flex;
    margin-top: 0px;
}
.membership{
    background-color: #ffffff;
    margin:30px;
    box-shadow: 5px 5px #a8dadc;
    border: 1px solid #a8dadc;
}
.membership p{
    line-height: 35px;
}
form{
    margin-left: 10px;
}
form fieldset{
    margin: 20px;
    border: 1px solid #1D3557;
    border-radius:10px;
    width: 350px;
    justify-content: space-evenly;
}
.firstfield,
.secondfield,
.thirdfield{
    padding: 10px;
}
form legend{
    color: #0077B6;
    margin: 5px;
    padding:5px;
    font-size: 20px;
}
form label.top, form div{
    display: block;
    padding-top: 10px;
    color: #1D3557;
    font-size: 18px;
}
form label.comments{
    display: block;
    padding-top: 10px;
    color: #1D3557;
    font-size: 18px;
}
form label.top input, form label.top select{
    -webkit-appearance: none;
    display: block;
    font-size: 16px;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem 0px;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}
form input.submitBtn{
    border:none;
    background-color: #1D3557;
    color:white;
    border-radius: 1rem;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 90%;
}
form label.top input:required{
    border-left: #e63946 solid 6px;
}
form label.top input:required:valid{
    border-left: green solid 6px;
}
.thanks p{
    background-color: #ffffff;
    margin: auto;
}
form{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
section form section{
    box-shadow: none;
    border: none;
}
.thanks p{
    padding:10px;
    margin:10px;
    text-align: center;
    width: 90%;
}
table{
    background-color: #a8dadc;
    border: 1px solid #1D3557;
    box-shadow: 5px 5px #1D3557;
    margin: 20px;
}
table th{
    background-color: #1D3557;
    padding: 15px;
    font-size: 14px;
    color:#ffffff;
}
table td{
    padding:5px;
    margin: 10px;
    font-size: 12px;
    color: #1D3557;
    border: 1px solid #1D3557;
}
table tr:nth-child(odd){
    background-color: #ffffff;
}
.contact-form{
    display:flex;
    flex-direction: column;
}
iframe{
    display: flex;
    justify-content: center;
    margin: 40px;
    width: 80%;
}
.contact p{
    margin-left:40px;
}
.contact-section{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.d{
    margin-left: 20px;
}
.title{
    font-size: 40px;
}
.city p{
    margin-left: 30px;
}
h3{
    margin-left: 30px;
}
.city table{
    margin-left: 30px;
} 
.city p{
    background-color: #ffffff;
    margin:30px;
    box-shadow: 5px 5px #a8dadc;
    border: 1px solid #a8dadc;
    padding: 10px;
}
.dem{
    display: flex;
    flex-direction: column;
}