@media only screen and (min-width: 481px) {
    .logo-img{
        max-width: 100px;
    }
    .navigation{ 
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .navigation li:first-child {
        display:none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    nav ul li a{
        border-top: none;
    }
    .responsive li:first-child {
        display: none;
    }
    h1{
        font-family: 'Bodoni Moda', serif;
        font-size: 30px;
        text-align: center;
    }


}