body{
    background-color: #0077B6;
    font-size: .9em;
    max-width: 100%;
    margin: 0,auto;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}
.siteName{
    display: flex;
}
#content{
    margin: 20px auto;
    justify-content:center;
}
.contents{
    margin-top: 30px;
    margin: 20px auto;
    max-width: 900px;
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #03045E;
}
.logo-img{
    max-width: 50px;
    height: auto;
}
.navigation li:first-child {
    display:block;
}
.responsive li{
    display: block;
}
nav {
	background-color: #03045E;
    text-align: center;
    padding:15px;
    width: auto;
}
nav ul { 
    display: flex;
    justify-content: space-around;
    flex-direction: column;
	list-style-type: none;
	margin: 0;
	padding: 0;
    overflow: hidden;
}
nav ul li a {
    display: block;
    margin: auto;
	color: #fff;
	text-align: center;
	text-decoration: none;
    font-size: 0.95rem;
    padding: .8rem 2%;
    border-top: 1px solid rgba(150, 155, 202, 0.349);
}
nav a {
    color: #ffffff;
}
nav ul li a:hover {
    background-color: #0077B6;
    font-weight: bold;
}
nav ul li a:active {
    background-color:#ffffff;; 
    color: #03045E;
}
nav a:visited {
    color: #ffffff;
}
nav a:active {
    background-color: #0077B6;
}
a:hover {
    color: #03045E;
    font-weight: bold;
}
a:visited{
    color:#0077B6;
}
h1{
    font-family: 'Bodoni Moda', serif;
    font-size: 20px;
    color: #ffffff;
    text-align: left;
    background-color: #023E8A;
    padding: 20px;
    border-radius: 5px;
}
h2{
    margin-top:40px;
    font-family: 'Bodoni Moda', serif;
    font-size: 25px;
    color: #ffffff;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
}
header,
footer {
    max-width: 100%;
    padding: 20px;
    background-color: #023E8A;
    text-align: center;
}
footer{
    margin-top:40px;
    color:#ffffff;
}
footer a {
    color: #F5F5F5;
}

   /*----- Clearfix: Force an Element not to collapse -----*/
   .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }